body {
    background-color: #4C4C4C;
}

p {
    font-family: "Source Code Pro", sans-serif;
    font-size: .85em;
    text-align: center;
    color: #FFF;
}

a {
    color: #9CF;
    text-decoration: none;
}

a:hover {
    color: #6C96E8;
}

canvas {
    border: 1px solid black;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

div {
    width: 15.5em;
    display: block;
    margin: auto;
}